@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap');
*{
    box-sizing: border-box;
}

body{
    font-family: 'Work Sans', sans-serif;
}
/* header-section-is-started */
nav{
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.header-container{
    min-height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
}

.header-logo img{
    width: 10%;
    height: 10%;
    object-fit: cover;
    margin-right: 20px;
    
}

.header-logo{
    display: flex;
    width: 50%;
    align-items: center;
}
.header-logo h1{
    font-size: 30px;
}
.logo-text-color {
    color: #FF42A5;
}
.header-items{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 100px;
}
.header-items a{
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
}
.header-btn{
    padding: 10px 20px;
    border-radius: 8px;
background: rgba(11, 2, 35, 0.10);
}
.btns-icon{
    font-size: 25px;
    padding-right: 10px;
    color: red;
}


/* banner-section-is-started */

.banner-container{
    min-height: 200px;
    max-width: 1650px;
    display: flex;
}
.banner-img img{
    width: 100%;
}

.banner-content{
    width: 50%;
    background-image: url(../images/Group\ 14.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-left: 15%;
    padding-top: 10%;
}

.banner-img{
    width: 50%;
}

.banner-content h2{
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0;
    padding-bottom: 10px;
}

.banner-content h1{
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
   margin: 0;
   background-image: linear-gradient(to bottom, #FF42A5, #8d6ee2);
   color: transparent;
   -webkit-background-clip: text;
}

.banner-content p{
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 10px;
}
.banner-btn{
    border-radius: 48px;
    background-color: #FF42A5;
    color: white;
    border: none;
    padding: 21px 40px;
    
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}
.banner-color{
    margin-left: 15px;
    background-color: #4EC5F7;
}

/* video section is started  */

.video-section{
    margin-top: 90px;
    
}
.video-title{
    text-align: center;
}

.video-title h1{
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
    line-height: 10px;
}
.video-title-text{
    background-image: linear-gradient(to bottom, #FF42A5, #8d6ee2);
   color: transparent;
   -webkit-background-clip: text;
}
.video-title p{
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 50px;
}
.video-img{
    display: flex;
    width: 1400px;
    margin: 0 auto;
    gap: 20px;
}
.video-img-card p{
    width: 80%;
}

.video-img-card img{
    width: 340px;
    height: 400px;
    object-fit: cover;
}
.video-background{
    font-size: 30px;
    top: 0;
    left: 0;
    opacity: .7;
    position: absolute;
    background: #0B0223;
    width: 340px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    text-align: center;
    visibility: hidden;
    transition: .1s;
    border-radius: 10px;
    border: 3px solid #FF42A5;
}
.video-img-card{
    position: relative;
    width: 340px;
    height: 400px;
    cursor: pointer;
}
.video-img-card:hover .video-background{
    visibility: visible;
}

.video-background p{
    font-size: 20px;
    color:  #FF42A5;
}



/* install-section is started */
.install-section{
    display: flex;
    width: 1420px;
    margin: 150px auto 0;
    justify-content: space-between;
}

.install-content h1{
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    text-align: right;
    width: 353px;
}
.install-content P{
    color: #534C64;
    text-align: right;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 353px;
}
.install-content{
   margin-left: 70px;
   margin-top: 100px;
   width: 50%;
}
.installing-img{
    width: 50%;
}

.pannent-img{
    padding: 40px;
    width: 300px;
    max-height: 300px;
    position: relative;
    bottom: 300px;
    right: 200px;
}

/* about section is started  */
.about-section{
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    display: flex;
    padding-top: 100px;
    padding-bottom: 100px;
}
.about-content{
    display: flex;
    align-items: center;
    border-radius: 50px;
    background: #FFF;
    border: 1px solid #3C354F;
    width: 248px;
    height: 80px;
    padding-left: 10px;
}
.about-content p{
    margin-left: 15px;
color: #0B0223;
font-size: 20px;

}
.about-width{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 1400px;
    margin: 10px auto;
    gap: 20px;
}


.about-content:hover{
    border: 4px solid #FF42A5;
    color: #FF42A5;
}






































